%body
  .head_bg
    #container.container_24.clearfix
      #header.grid_24.clearfix
        .SecHead
          = haml :"general/search_form"
          = haml :"general/login_form"
        / toolbar
        .SecBody
          #logo
        / sec body
      / header
    / end of header container
  / end of head bg
  = haml :sidebar_left
  #footer.container_24.clearfix
  / footer