%body
  #header.container_24.clearfix
    .SecHead
      \ 
      %br/
    / toolbar
    .SecBody
      \ 
      %br/
    / body
  / header
  #content.container_24.clearfix
    = haml :sidebar_left
    #main.grid_19.omega
    / end of main
  / end of content
  #footer.container_24.clearfix
  / footer