<body>

<%= erb :admin %>

<div class="head_bg">

  <div id="container" class="container_24 clearfix">

    <div id="header" class="grid_24 clearfix">

      <div class="SecHead">


        <%= erb :"general/search_form" %>
        <%= erb :"general/login_form" %>

      </div>
      <!-- toolbar -->

      <div class="SecBody">
        <div id="logo"></div>
      </div>
      <!--sec body -->
    </div>
    <!--header -->
  </div>
  <!--end of header container -->
</div>
<!--end of head bg -->

<%= erb :"general/content" %>

<div id="footer" class="container_24 clearfix">
</div>
<!--footer -->

</body>