<body>
<div  class="toolbar_bg">
  <div id="container" class="container_24 clearfix">
    <div  id="header" class="grid_24 clearfix">
      <div class="toolbar">

        <!--search form -------------------------------------------------------------------------------------------------------------->
        <%= erb :"general/search_form" %>
        <!--search form -------------------------------------------------------------------------------------------------------------->
        <!--login form -------------------------------------------------------------------------------------------------------------->
        <%= erb :"general/login_form" %>
        <!--login form -------------------------------------------------------------------------------------------------------------->
      </div><!--toolbar -->
    </div>
  </div>


  <div  class="head_bg">
    <div id="container" class="container_24 clearfix">
      <div class="">
        <div id="logo"></div>


        <!--Description in Header -------------------------------------------------------------------------------------------------------------->
        <p id="about">The IslamIFC is a nonprofit, non governmental organization
          that works in cooperation with North American Muslims,
          non-Muslims and organizations to promote mutual understanding
          and cultural exchange.<a href="">  Watch the Video!&nbsp;</a></p>
        <!--Description in Header -------------------------------------------------------------------------------------------------------------->




      </div><!--sec body -->
    </div><!--header -->
  </div><!--end of header container -->
</div><!--end of head bg -->
<%= erb :"general/content" %>


<div class="footer-wrapper">
  <div id="footer" class="container_24 clearfix">
    <div class="grid_24 clearfix">
      copyright © IslamIFC : All Rights Reserved
    </div>
  </div><!--footer -->
</div>


</body>