!!!
%html

  %head

    %title iosie VISITOR

    %link{:href => "Styles/960grid/960_24_col.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "Styles/960grid/reset.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "Styles/960grid/text.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "Styles/personal.css", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "js/jquery-1.7.2.min.js", :type => "text/javascript"}
    %script{:src => "js/menu.js", :type => "text/javascript"}

  %body
    = yield
