<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title><%= yield_content :title %></title>

  <link rel="stylesheet" type="text/css" href="/styles/960grid/960_24_col.css" />
  <link rel="stylesheet" type="text/css" href="/styles/960grid/reset.css" />
  <link rel="stylesheet" type="text/css" href="/styles/personal.css" />
  <%= yield_content :custom_css %>

  <script src="/js/jquery-1.7.2.min.js" type="text/javascript"></script>
  <script src="/js/jquery-ui-1.8.22.custom.min.js" type="text/javascript"></script>
  <script src="/js/menu.js" type="text/javascript"></script>
  <%= yield_content :custom_js %>

</head>

<%= yield %>

</html>
