%body
  .head_bg
    #container.container_24.clearfix
      #header.grid_24.clearfix
        .SecHead
          %form.searchform
            %input.searchfield{:onblur => "if (this.value == '') {this.value = 'Search Content';}", :onfocus => "if (this.value == 'Search Content') {this.value = '';}", :type => "text", :value => "Search Content"}/
            %input.searchbutton{:type => "button", :value => "Go"}/
          %a.advanced_search{:href => ""} Advanced Search
          %form.loginform
            %input.emailfield{:onblur => "if (this.value == '') {this.value = 'Email';}", :onfocus => "if (this.value == 'Email') {this.value = '';}", :type => "text", :value => "Email"}/
            %input.passfield{:onblur => "if (this.value == '') {this.value = 'Password';}", :onfocus => "if (this.value == 'Password') {this.value = '';}", :type => "text", :value => "Password"}/
            %input.signinbutton{:type => "button", :value => "Sign in"}/
          %a.sign_up{:href => ""} Sign Up
        / toolbar
        .SecBody
          #logo
        / sec body
      / header
    / end of header container
  / end of head bg


  #footer.container_24.clearfix
  / footer