<div class="box">
  <form class="create-category" method="post">
    <fieldset>

      <legend>

        Add Category

      </legend>

      Parent Name: <input class="input text" name="category[parent]" type="text"/> <br/>
      Name: <input name="category[name]" type="text"/> <br/>

      <input type="submit" value="Add"/>


    </fieldset>

  </form>
</div>




