<form class="add-lesson-form" method="post"/>

<fieldset>

  <legend>Add Lesson</legend>
  Lesson Name: <input name="lesson" type="text"/> <br />
  Lesson Text: <textarea name="post[description]" id="editor1"> </textarea> <br />
  <input type="submit" value="Add"/>


</fieldset>

</form>
