%form.add-lesson-form{:method => "post"}
  %fieldset
    %legend Add Lesson
    %input{name:"post[name]", :type => "text"}
    %textarea{name:"post[description]"}
    %input{:type => "submit"}

%form.add-lesson-form{:method => "post"}
  %fieldset
    %legend Add Lesson
    %input{name:"post[name]", :type => "text"}
    %textarea{name:"post[description]"}
    %input{:type => "submit"}
