<form class="loginform">
  <input class="emailfield" type="text" value="Email" onfocus="if (this.value == 'Email') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Email';}" />
  <input class="passfield" type="text" value="Password" onfocus="if (this.value == 'Password') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Password';}" />
  <input class="signinbutton" type="button" value="Sign in" />
</form>
<a href="" class="sign_up">Sign Up</a>