<div id="sidebar" class="grid_5">

  <!--Category -------------------------------------------------------------------------------------------------------------->

     <%= erb :'general/Category' %>

  <!--Category -------------------------------------------------------------------------------------------------------------->

  <!--Glossary -------------------------------------------------------------------------------------------------------------->

     <%= erb :'general/Glossary' %>
  <%= erb :'general/TagCload' %>

</div>



<!-- end of sidebar -->