<div id="sidebar" class="grid_5">

  <!--/-Category -------------------------------------------------------------------------------------------------------------->
  <%= erb :'general/category' %>
  <!--\-Category -------------------------------------------------------------------------------------------------------------->

  <!--/-Glossary -------------------------------------------------------------------------------------------------------------->
  <%= erb :'general/glossary' %>
  <!--\-Glossary -------------------------------------------------------------------------------------------------------------->

  <!--/-TagCloud -------------------------------------------------------------------------------------------------------------->
  <%= erb :'general/tag_cloud' %>
  <!--\-TagCloud -------------------------------------------------------------------------------------------------------------->

</div>



<!-- end of sidebar -->