<div id="Annotation">
  <div class="SecHead">
    <img class="icon" src="/images/home.png" />
    <h3 class="title">Annotations</h3>
  </div>

  <!--Annotation -------------------------------------------------------------------------------------------------------------->
  <div class="SecBody">
  </div>
  <!--Annotation -------------------------------------------------------------------------------------------------------------->

</div><!-- end of Annotation -->