<div id="Categories">
  <div class="SecBody">

    <!--Categorise -------------------------------------------------------------------------------------------------------------->

    <div class="sidebarmenu">

      <ul id="sidebarmenu1" class="alpha parent">
        <li><a href="#" style="background:url(/images/arrow-right-green.png) right no-repeat">&nbsp;&nbsp;Categories</a>
          <ul>
            <%= create_child_for_category @categories %>
          </ul>
        </li>
      </ul>
    </div>
    <!--Categorise -------------------------------------------------------------------------------------------------------------->

  </div> <!--end of SecBody -->
</div><!-- end of Categories -->
