<div id="glossary_dialog" class="window orange_window">
  <a class="cross close" href="#"></a>

  <div id="term_name_wrapper" style="margin-bottom: 10px;">
    <h1 id="term_name" style="text-transform: capitalize; display: inline;"></h1>
    <a href="#" id="play_pronun"
       style="background: url('/images/speaker.jpg') no-repeat 0 0;
              display: inline-block; width: 30px; height: 30px;
              margin-top: 5px; margin-left: 10px; vertical-align: -5px;"></a>
  </div>

  <audio id="term_pronun" style="margin-bottom: 10px; display: none;">
  </audio>

  <img id="term_image" src="/assets/ref_img/pic1.jpg"
       style="float: right; max-width: 150px; padding: 5px; margin: 0 0 10px 20px; border: 1px solid gray;">

  <p id="term_full_def" style="margin-bottom: 10px;"></p>

  <div id="term_link_wrapper">
    <strong>Read more: </strong>
    <a id="term_link" href="#"></a>
  </div>
</div>