<!--lesson header -------------------------------------------------------------->
<div id="Lesson_Header" class="grid_24 clearfix">

  <ul id="breadcrumbs">
    <li><a href="<%= url_for(:home) %>">Home</a></li>
    <li><a href="#">Category</a></li>
    <li><a href="#">Sub Category</a></li>
    <li><a href="#">Sub Category</a></li>
  </ul>
  <div class="LessonTitle"><h1> :: Lesson Title  </h1><span class="LessonInfo" onclick="location.href='#';" title="Lesson Info"></span></div>

</div>
<!--end of lesson header------------------------------------------------------->
