<div id="Presentation">
  <div class="SecHead">
    <img class="icon" src="/images/home.png" />
    <h3 class="title">Presentation</h3>
  </div>

  <!--Presentation -------------------------------------------------------------------------------------------------------------->
  <div class="SecBody">

  </div>
  <!--Presentation -------------------------------------------------------------------------------------------------------------->

</div><!-- end of Presentation -->
