<% content_for :custom_css do %>
    <link rel="stylesheet" type="text/css" href="/styles/question_rating.css"/>
<% end %>
<!--------------------------------------Q and A Content ------------------------------------>
<div id="tabs-3" class="body">

  <div class="items">
  </div>

  <div id="lastPostsLoader"></div>
</div>
<!--------------------------------------Q and A Content ------------------------------------>