
<% Lesson.find(@lesson_id).questions.offset(5*@page ).limit(5).each do |q| %>
    <div class="QAbody">
      <div class="question">
        <span class="id"><%= User.find(q.user_id).name %></span>

        <p><%= q.question %></p>
      </div>

      <div class="answer">
        <span class="id"><%= q.answered_by %></span>

        <p><%= q.answer %></p>
      </div>
    </div><!--end of QAbody -->
<% end %>