<div id="Categories">
  <div class="SecHead clearfix">
    <img class="icon" src="images/home.png" />

    <h3 class="title">Categories</h3>
  </div>
  <div class="SecBody">
    <!--Categories -------------------------------------------------------------------------------------------------------------->
    <div class="sidebarmenu">

      <ul id="sidebarmenu1" class="alpha parent">
        <%= create_child_for_category @categories %>
      </ul>
    </div>
    <!--Categories -------------------------------------------------------------------------------------------------------------->
  </div>
  <!-- end of SecBody -->
</div>
<!-- end of Categories -->