<div class="footer-wrapper">
  <div id="footer" class="container_24 clearfix">
    <div class="grid_24 clearfix">
      Copyright © IslamIFC 2012. All Rights Reserved.
    </div>
  </div>
  <!--footer -->
</div>