<div id="Glossary">
  <div class="SecHead">
    <img class="icon" src="/images/home.png" />
    <h3 class="title">Glossary</h3>
  </div>

  <div class="SecBody">
    <form class="searchform">
      <input class="searchfield" type="text" value="Search Glossary" onfocus="if (this.value == 'Search Glossary') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Search Glossary';}" />
      <input class="searchbutton" type="button" value="Go" />
      </form>

    <div class="index">
      [<a href="#a">A</a>] [<a href="#b">B</a>] [<a href="#c">C</a>] [<a href="#d">D</a>]
      [<a href="#e">E</a>] [<a href="#f">F</a>] [<a href="#g">G</a>] [<a href="#h">H</a>]
      [<a href="#i">I</a>] [<a href="#j">J</a>] [<a href="#k">K</a>] [<a href="#l">L</a>]
      [<a href="#m">M</a>] [<a href="#n">N</a>] [<a href="#o">O</a>] [<a href="#p">P</a>]
      [<a href="#q">Q</a>] [<a href="#r">R</a>] [<a href="#s">S</a>] [<a href="#t">T</a>]
      [<a href="#u">U</a>] [<a href="#v">V</a>] [<a href="#w">W</a>] [<a href="#x">X</a>]
      [<a href="#y">Y</a>] [<a href="#z">Z</a>]
    </div>
  </div>
</div>