<form class="searchform">
  <input class="searchfield" type="text" value="Search Content" onfocus="if (this.value == 'Search Content') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Search Content';}" />
  <input class="searchbutton" type="button" value="Go" />
</form>
<a href="" class="advanced_search">Advanced Search</a>