<div id="sidebar" class="grid_5">

  <!--/-Category -------------------------------------------------------------------------------------------------------------->
  <%= erb :'partial/category' %>
  <!--\-Category -------------------------------------------------------------------------------------------------------------->

  <!--/-Glossary -------------------------------------------------------------------------------------------------------------->
  <%= erb :'partial/glossary' %>
  <!--\-Glossary -------------------------------------------------------------------------------------------------------------->

  <!--/-TagCloud -------------------------------------------------------------------------------------------------------------->
  <%= erb :'partial/tag_cloud' %>
  <!--\-TagCloud -------------------------------------------------------------------------------------------------------------->

</div>
<!-- end of sidebar -->