<div id="TagCloud">
  <div class="SecHead">
    <img class="icon" src="/images/home.png" />
    <h3 class="title">Tag Cloud</h3>
  </div>
  <!--Tag Cloud -------------------------------------------------------------------------------------------------------------->
  <div class="SecBody">
    <div class="tags">
      <a href="" class="large">large</a>
      <a href="" class="medium">medium</a>
      <a href="" class="small">small</a>
      <a href="" class="small">small</a>
      <a href="" class="medium">medium</a>
      <a href="" class="large">large</a>
      <a href="" class="medium">medium</a>
      <a href="" class="small">small</a>
      <a href="" class="large">large</a>
      <a href="" class="medium">medium</a>
      <a href="" class="small">small</a>
      <a href="" class="large">large</a>
      <a href="" class="small">small</a>
      <a href="" class="small">small</a>
      <a href="" class="large">large</a>
    </div>
  </div>
  <!--Tag CLoud -------------------------------------------------------------------------------------------------------------->
</div><!-- end of Tag Cloud-->