#content_suggestion_btn {
    position: fixed;
    display: block;
    /*width: 170px;*/
    top: 45%;
    z-index: 1000;
    text-align: center;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    border-radius: 10px 10px 0 0;
    font-family: Tahoma, sans-serif;
    letter-spacing: 3px;
    font-size: 17px;
    font-weight: bold;
    background-color: #06c;
    color: #fff;
    padding: 5px 10px 5px 15px;
    text-decoration: none;
    right: -88px;
}

#content_suggestion_btn:hover {
    background: #f00;
}