#feedback {
    height: 104px;
    width: 170px;
    position: fixed;
    top: 40%;
    left: -38px;
    z-index: 1000;
    text-align: center;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

#feedback a {
    border-radius: 0 0 10px 10px;
    font-family: Tahoma, sans-serif;
    letter-spacing: 8px;
    font-size: 17px;
    font-weight: bold;
    display: block;
    background: #f00;
    /*height: 15px;*/
    /*width: 70px;*/
    padding: 5px 0px;
    color: #fff;
    text-decoration: none;
}

#feedback a:hover {
    background: #06c;
}

/* Z-index of #mask must lower than #boxes .window */
#mask {
    position:fixed;
    z-index:9000;
    background-color:#000;
    display:none;
    opacity: 0.8;
}

#boxes .window {
    position:fixed;
    width:440px;
    /*height:200px;*/
    display:none;
    z-index:9500;
    padding:20px;
}

/* Customize your modal window here, you can add background image too */
#boxes #dialog {
    width:450px;
    /*height:203px;*/
    background-color: #fff;
    border: 4px solid orange;
    border-radius: 5px;
    padding: 10px 30px 20px 30px;
}

.feedback_form label {
    display: block;
    font-weight: bold;
}

.feedback_form input[type=text] {
    border: 1px solid gray;
    font-size: 15pt;
    width: 98%;
}

.feedback_form textarea {
    border: 1px solid gray;
    font-size: 10pt;
    width: 98%;
    height: 100px;
}

.feedback_form .inputs li {
    margin-bottom: 10px;
}

#feedback_h {
    display: block;
    font-size: 25pt;
    font-weight: bold;
}
#feedback_txt {
    margin-bottom: 15px;
}
